.body,
.full-screen {
  background-color: #9a9a9f;
  display: block;
  /* color: white; */
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.full-screen {
  /* Grid definition */
  display: none;
  grid-template-areas:
    "top  top  top  top  top  top  top  top  top  top  top"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "side side game game game game game game game game game"
    "bot  bot  bot  bot  bot  bot  bot  bot  bot  bot  bot";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 1;
}

.side {
  background-color: #7a7a98;
  border-radius: 35px;
  grid-area: side;
  opacity: 0.8;
  z-index: 3;
}

.score {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-around;
  max-height: 80%;
  min-height: 80%;
}

.main-screen {
  background-color: #5a5a5f;
  display: flex;
  flex: auto;
  grid-area: game;
  justify-content: center;
  opacity: 0.9;
  z-index: 2;
}

.game-screen {
  background: #5a5a7f;
  height: 800;
  margin: auto;
  width: 1280;
}
