@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);

body {
	background-color: #9A9A9F;
	/* Grid definition */
	display: grid;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100hh;
	max-width: 100hh;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	grid-template-areas: 
		"top  top  top  top  top  top  top  top  top  top  top"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"bot  bot  bot  bot  bot  bot  bot  bot  bot  bot  bot";
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: 'white';
}

.side {
	grid-area: side;
	background-color: #7A7A98;
	border-radius: 35px;
	opacity: 0.8;
	z-index: 3;
}

.score {
	min-height: 80%;
	max-height: 80%;
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	align-content: center;;
	justify-content: space-around;
}

.main-screen {
	grid-area: game;
	background-color: #5A5A5F;
	opacity: 0.9;
	z-index: 2;
	/* Using flexbox to center the canvas */
	display: flex;
	flex: auto;
	justify-content: center;
}

 #game {
	background: #5a5a7f;
	width: 1280;
	height: 800;
	margin: auto;
 }
