@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);

body {
	background-color: #9A9A9F;
	color: 'white';
	/* Grid definition */
	display: grid;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	grid-template-areas: 
		"top  top  top  top  top  top  top  top  top  top  top"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"side side game game game game game game game game game"
		"bot  bot  bot  bot  bot  bot  bot  bot  bot  bot  bot";
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	max-height: 100vh;
	max-width: 100hh;
	min-height: 100vh;
	min-width: 100hh;
	z-index: 1;
}

.side {
	background-color: #7A7A98;
	border-radius: 35px;
	grid-area: side;
	opacity: 0.8;
	z-index: 3;
}

.score {
	align-content: center;;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: space-around;
	max-height: 80%;
	min-height: 80%;
}

.main-screen {
	background-color: #5A5A5F;
	display: flex;
	flex: auto;
	grid-area: game;
	justify-content: center;
	opacity: 0.9;
	z-index: 2;
}

#game {
	background: #5a5a7f;
	height: 800;
	margin: auto;
	width: 1280;
 }
